#home {
    background-color: #2774AE;
    color: white;
}

#picture  {
    background-color: #FFD100;
}

body {
    display: flex;
    height: 5vh;
    position: relative;
    justify-content: right;
}

#button {
    background: transparent;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.text-container {
    font-size: 20px;
    color: white;
    text-align: right;
    max-width: 300px;
    margin-right: 20px;
/* position: absolute; */
    top: 0;
    right: 0;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

#Welcome {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    font-size: x-large;
}

#Welcome img{
    width: inherit;
}

