#home {
    background-color: #2774AE;
    color: white;
}

#picture  {
    background-color: #FFD100;
}

body {
    display: flex;
    justify-content: right;
    height: 5vh;
    position: relative;
}

#button {
    background: transparent;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.text {
    font-size: 20px;
    color: white;
    text-align: right;
    max-width: 300px;
    margin-right: 20p;
    position: absolute;
}